@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* =========================================
   VARIABLES & CONFIGURATION
   ========================================= */
:root {
  --white-900: hsl(0, 0%, 100%); /* --neutral-off-white */
  --black-900: hsl(0, 0%, 0%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-300: hsl(233, 8%, 79%);
  --navy-600: hsl(236, 13%, 42%);
  --navy-950: hsl(240, 100%, 5%); /* --neutral-very-dark-blue */
  --gold-400: hsl(35, 77%, 62%);
  --red-500: hsl(4, 85%, 63%); /* --primary-soft-red */

  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem; /* 24px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1100: 5.5rem; /* 88px */

  /* Z-Index Layering */
  --z-overlay: 500;
  --z-menu: 1000;
  --z-toggle: 9999;
}

/* =========================================
   RESET CSS (Base)
   ========================================= */
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--white-900);
  color: var(--navy-950);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

img,
picture,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, figure {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-out;
}

/* =========================================
   FORM ELEMENT RESET
   ========================================= 
*/
input,
button,
select,
textarea {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
}

button {
  cursor: pointer;
}

:focus-visible {
  outline: 2px solid var(--red-500);
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

::selection {
  background-color: var(--gold-400);
  color: var(--white-900-);
}


/* =========================================
   UTILITIES
   ========================================= */
.visually-hidden,
.sr-only {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.noscroll {
  overflow: hidden;
}

/* =========================================
   LAYOUT GLOBAL
   ========================================= */
.layout {
  padding: 1.75rem 1rem 5rem;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-header__logo {
  inline-size: 2.8125rem; /* 45px */
  block-size: 1.75rem;
  flex-shrink: 0; 
  display: block;
}

.primary-header__logo img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

/* =========================================
   COMPOSANT : NAV TOGGLE (Hamburger)
   ========================================= */
.nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  z-index: var(--z-toggle);

  inline-size: 2.5rem;
  block-size: 1.0625rem;

  margin-inline-start: auto;
  border: none;
  background: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.nav-toggle[aria-expanded="true"] {
  position: fixed;
  z-index: 9999;
  right: 1rem;
}

.nav-toggle__box {
  inline-size: 2.5rem;
  block-size: 1.0625rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.nav-toggle__inner,
.nav-toggle__inner::before,
.nav-toggle__inner::after {
  position: absolute;
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--navy-950);
  left: 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-toggle__inner {
  top: 50%;
  transform: translateY(-50%);
}

.nav-toggle__inner::before {
  content: '';
  top: -7px;
}

.nav-toggle__inner::after {
  content: '';
  bottom: -7px; 
}

.nav-toggle[aria-expanded="true"] .nav-toggle__inner {
  background-color: transparent;
}

.nav-toggle[aria-expanded="true"] .nav-toggle__inner::before {
  top: 0;
  transform: rotate(45deg);
}

.nav-toggle[aria-expanded="true"] .nav-toggle__inner::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* =========================================
COMPOSANT : PRIMARY NAVIGATION DRAWER
========================================= */
.primary-navigation {
  position: fixed; 
  z-index: var(--z-menu);
  inset: 0 0 0 auto;

  inline-size: 68.3%; 
  max-inline-size: 16rem;
  
  background-color: var(--white-900);
  background-color: hsl(0 0% 100% / 0.75);
  backdrop-filter: blur(1rem); 
  -webkit-backdrop-filter: blur(1rem);
  
  padding-block-start: calc(1.75rem + 17px + 5.5rem);
  padding-inline: 1.5rem;
  
  transform: translateX(100%);
  transition: transform 350ms ease-out, visibility 350ms ease-out;

  block-size: 100dvh; 
  overflow-y: auto;
  overscroll-behavior: contain;

  -webkit-overflow-scrolling: touch;

  visibility: hidden;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
  visibility: visible;
}

.primary-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.primary-navigation__link {
  color: var(--navy-950);
  font-size: 1.125rem;
  line-height: 22px;
  display: block;
}

.primary-navigation__link:hover {
  color: var(--red-500);
}

/* =========================================
   OVERLAY
   ========================================= */
.overlay {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  z-index: var(--z-overlay);
  
  opacity: 0;
  visibility: hidden; 
  transition: opacity 350ms ease-out, visibility 350ms ease-out;
}

.overlay[data-visible="true"] {
  opacity: 1;
  visibility: visible;
}

/* =========================================
   FEATURED ARTICLE (Hero)
   ========================================= */
.featured-article {
  margin-block-start: 2rem;
}

.featured-article__image {
  inline-size: 100%;
  block-size: 18.75rem;
  object-fit: cover; 
}

.featured-article__content {
  margin-block-start: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

.featured-article__title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
}

.featured-article__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.featured-article__text {
  max-inline-size: 60ch; 
  text-wrap: pretty;
  font-size: 0.9375rem;
  color: var(--navy-600);
  line-height: 26px;
}

.button {
  display: inline-block;
  color: var(--navy-950);
  background-color: var(--red-500);
  padding: 0.5rem 2rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.button:hover,
.button:active {
  color: var(--white-900);
  background-color: var(--navy-950);
}

/* =========================================
   NEWS (Sidebar)
   ========================================= */
.new-news {
  padding: 1.5rem;
  margin-block-start: 4rem;
  color: var(--white-900);
  background-color: var(--navy-950);
}

.new-news__title {
  color: var(--gold-400);
  font-size: 2rem;
  font-weight: 700;
  line-height: 32px;
}

.new-news__item {
  padding-block: 2rem;
  border-block-end: 1px solid var(--navy-600);
}

.new-news__item:last-child {
  border-bottom: none;
  padding-block-end: 0;
}

.new-news__headline a {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
}

.new-news__headline a:hover,
.new-news__headline a:active {
  color: var(--gold-400);
}

.new-news__excerpt {
  padding-block-start: 0.5rem;
  color: var(--grey-300);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.2px;
}

/* =========================================
   TOP ARTICLES (Footer List)
   ========================================= */
.top-articles {
  margin-block-start: 4rem;
}

.top-articles__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-articles__item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.top-articles__item img {
  inline-size: 6.25rem;
  block-size: 8.0625rem;
  object-fit: cover;
  flex-shrink: 0;  
}

.top-articles__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.top-articles__rank {
  color: var(--red-500);
  font-size: 2rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.7px;
}

.top-articles__headline a {
  color: var(--navy-950);
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.top-articles__headline a:hover,
.top-articles__headline a:active {
  color: var(--red-500);
}

.top-articles__excerpt {
  color: var(--navy-600);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 26px;
}

/* =========================================
   MEDIA QUERIES
   ========================================= */
@media (48em <= width < 64em) {
  .layout {
    inline-size: 100%;
    max-inline-size: 69.5rem;
    margin-inline: auto;
    padding: 1.75rem 4.5rem 5rem 4.5rem;
  }

  .nav-toggle, 
  .overlay { 
    display: none; 
  }

  .primary-navigation {
    position: static;
    block-size: auto; 
    overflow-y: visible; 
    transform: none; 
    transition: none;
    padding: 0; 
    inset: auto; 
    background: transparent;
    inline-size: auto; 
    max-inline-size: none;
    backdrop-filter: none;
    visibility: visible;
  }

  .primary-navigation__list {
    flex-direction: row; 
    gap: 1.5rem;
  }
  
  .primary-navigation__item .primary-navigation__link {
    font-size: 0.92rem; 
    color: var(--navy-600);
  }

  .primary-navigation__item .primary-navigation__link:hover {
    color: var(--red-500);
  }
  
  .new-news {
    padding: 1.5rem 2.5rem;
  }

  .new-news__title {
    font-size: 2.5rem;
    line-height: 40px;
  }
}

@media (width >= 64em) {
  .layout {
    display: block;
    max-inline-size: 69.5rem;
    inline-size: min(100% - 4rem, 69.5rem);
    margin-inline: auto;
    padding-inline: 0;
    padding-block: 4rem;
  }

  .primary-header {
    margin-block-end: 3.5rem;
  }

  .primary-header__logo {
    inline-size: 4rem;
    block-size: 2.5rem;
  }

  .nav-toggle,
  .overlay {
    display: none;
  }

  .primary-navigation {
    position: static; 
    block-size: auto; 
    overflow-y: visible;
    transform: none;
    transition: none;
    inline-size: auto;
    max-inline-size: none;
    background-color: transparent;
    padding: 0;
    inset: auto;
    visibility: visible;
  }

  .primary-navigation__list {
    flex-direction: row;
    gap: 2.5rem;
  }

  .primary-navigation__item .primary-navigation__link {
    color: var(--navy-600);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 26px;
  }

  .primary-navigation__item .primary-navigation__link:hover,
  .primary-navigation__item .primary-navigation__link:active {
    color: var(--red-500);
  }

  .main-layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem; 
    align-items: start;
  }

  .featured-article {
    margin-block-start: 0;
    grid-column: span 2;
  }

  .new-news {
    padding: 2rem 1.5rem;
    grid-column: span 1;
    margin-block-start: 0;
    block-size: 100%;
  }

  .featured-article__image {
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 18.75rem;
    object-fit: cover;
  }

  .featured-article__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .featured-article__title {
    font-size: 3.5rem;
  }

  .top-articles {
    grid-column: 1 / -1;
    margin-block-start: 2rem;
  }

  .top-articles__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}


@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}